/* 参考: https://getcssscan.com/css-box-shadow-examples?ref=producthunt */
.common_card_div_pc {
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1%;
    background-color: #d9d9d9;
}

.common_icon_size_pc {
    width: 1.5em;
    height: 1.5em;
}

/* 进行固定 */
.common_affix_div {
    margin-bottom: -10000em;
    padding-bottom: 10000em;
}

/* common_background_color 全局通用背景颜色 */
.common_background_color {
    background-color: #d9d9d9;
}

.common_li_non {
    list-style-type: none;
}


.common_text_hidden{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

/*文字在DIV中水平居中以及垂直居中*/
.common_text_content{
    text-align: center;
    line-height: 3.2em;
    justify-content: center;
    margin-left: -1px;
}

